html {
	background-color: aquamarine;
	font-size: medium;
	font-family: 'Courier New', Courier, monospace;
}

header{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	border: 1px solid #eee;
	text-align: center;
}

h1, h2 {
	text-align: center;
	color: deeppink;
}

.learn{
	background-color: black;
	color: azure;
	font-size: 12px;
	font-family: sans-serif;
	text-align: center;
}
