html {
	font-size: 20px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: rgb(0, 0, 0);
}
h1, h2 {
	border: 2px solid #333;
	text-align: center;
	color: green;
	opacity: 0.5;
}

p, hr {
	color: #f00;
}