footer {
    /* bottom: 0;
    background-color: rgb(40, 56, 102);
    font-size: medium;
    font-weight: 100;
    color: white;
    text-align: center;
    padding: 3px;
    z-index: 10; */
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}
body {
    background-color: gold;
    margin: 0;
    padding: 0;
    color:black;
}